// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$border-radius-root: 8px;
$font-size-root: 18px;

$text-field-filled-full-width-outlined-slot-min-height: 48px;
$text-field-outlined-fieldset-border-width: 2px;

$card-subtitle-padding: 32px 32px 16px 32px;
$card-actions-padding: 16px 32px 32px 32px;
$card-border-radius: 16px;
